{% extends "base.html.twig" %}

{% block title %}Password change{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-block">
                     <div class="row">
                        <div class="col-md-3">&nbsp;</div>
                        <div class="col-md-6">
                            <div class="bg-light py-3 px-3">
                                {{ form_start(form, {'attr': {'id': 'form-update-password'}}) }}

                                {{ form_widget(form) }}
                                <div class="text-center pt-2">
                                    <button type="submit" class="btn btn-success btn-sm">Update</button>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
<script>

    $(function(){
        $("#form-update-password").submit(function(event){
            if (!event.isDefaultPrevented()) {
                $('.censusmp-loader').show();
                submit(event);
            }
        });
    });

</script>
{% endblock %}
