
<div>
    {{civility}} , <br/>

<p>
    Veuillez trouver ci-joint votre contrat de {{nature}}.
</p>

<p>
    Vous souhaitant bonne réception de ce courrier, veuillez agréer, {{civility}}, nos salutations distinguées.
</p>

<div>
   <p style="text-align: center;">
    Agence Nationale pour la statistique et la Démographie
   </p>
    <p style="text-align: center">
        <img src="{{ email.image('logo_GBOS.png')}}" alt="Logo GBOS" >

    </p>
</div>


</div>